In [1]:
pip install tinydb

Collecting tinydb
  Downloading tinydb-4.1.1-py3-none-any.whl (21 kB)
Installing collected packages: tinydb
Successfully installed tinydb-4.1.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
from tinydb import TinyDB, Query

## db file 생성
- 파일 기반으로 그냥 만들면 됨
- 로그인 없음

In [3]:
db = TinyDB('db.json')

## insert
- json영역에 dict를 넣은것

In [4]:
db.insert({'type':'apple', 'count':7})

1

In [5]:
data = {'type':'peach', 'count':4}
db.insert(data)

2

## select all
-all() method 사용

In [6]:
db.all()

[{'type': 'apple', 'count': 7}, {'type': 'peach', 'count': 4}]

In [12]:
#iter
datas = []
for item in db :
    datas.append(dict(item))
print(datas)

[{'type': 'apple', 'count': 7}, {'type': 'peach', 'count': 4}]

In [13]:
datas2 = [dict(item) for item in db]
datas2

[{'type': 'apple', 'count': 7}, {'type': 'peach', 'count': 4}]

In [16]:
type = datas[1]['type']
count = datas[1]['count']
print(type,count)

peach 4

## search
- query() 를 사용

In [22]:
Fruit = Query()
search = db.search(Fruit.type == 'peach')
search      #[]리스트로 싸여있어서 count만 꺼내려면
search[0]['count']

4

## update
- update()

In [23]:
db.update({'count':10},Fruit.type == 'apple')
db.all()

[{'type': 'apple', 'count': 10}, {'type': 'peach', 'count': 4}]

## remove
- remove()

In [25]:
db.remove(Fruit.count<5)
db.all()

[{'type': 'apple', 'count': 10}]

## all remove - truncate()
- truncate()

In [27]:
db.truncate()
db.all()

[]

## table

In [28]:
tb_fruits = db.table('fruits')

In [29]:
tb_fruits.insert({'type':'apple', 'count':7})
tb_fruits.insert({'type':'peach', 'count':3})

2

In [30]:
tb_fruits.all()

[{'type': 'apple', 'count': 7}, {'type': 'peach', 'count': 3}]